<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="aimldirectory" value="H:\dev\aiml\furio\aiml"/>
    <add key="configdirectory" value="H:\dev\aiml\furio\config"/>
    <add key="logdirectory" value="H:\dev\aiml\furio\log"/>
  </appSettings>
</configuration>